<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.codebridge.relationship.mapper.RelationshipMapper">

    <!--".......................................................ClassTask..................................................."-->
    <select id="queryClassTasksByCondition" resultType="edu.codebridge.feign.entity.ClassTask">
        SELECT * FROM cb_relationship.`class-task`
        WHERE deleted = 0
        <if test="classId != null and classId != '0' and classId != '' " >
            and class_id = #{classId}
        </if>
        <if test="taskId != null and taskId != '0' and taskId != '' ">
            and task_id = #{taskId}
        </if>
        <if test="startTime != null and startTime !='' ">
            and start_time = #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and end_time = #{endTime}
        </if>
        <if test="invisible != null and invisible != '' ">
            and `invisible` = #{invisible}
        </if>
        <if test="accessible != null and accessible != '' ">
            and `accessible` = #{accessible}
        </if>
        <if test="weight != null and weight != '' ">
            and weight = #{weight}
        </if>
        <if test="resubmit != null and resubmit != '' ">
            and resubmit = #{resubmit}
        </if>
        <if test="checkAfterSubmit != null and checkAfterSubmit != ''  ">
            and check_after_submit = #{checkAfterSubmit}
        </if>
        <if test="correctionMode != null and correctionMode != '' ">
            and correction_mode = #{correctionMode}
        </if>
    </select>


    <select id="queryClassTaskByCondition" resultType="edu.codebridge.feign.entity.ClassTask">
        SELECT * FROM cb_relationship.`class-task`
        WHERE deleted = 0
        <if test="classId != null and classId != '0' and classId != '' " >
            and class_id = #{classId}
        </if>
        <if test="taskId != null and taskId != '0' and taskId != ''  ">
            and task_id = #{taskId}
        </if>
        <if test="startTime != null and startTime !='' ">
            and start_time = #{startTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and end_time = #{endTime}
        </if>
        <if test="invisible != null and invisible != '' ">
            and `invisible` = #{invisible}
        </if>
        <if test="accessible != null and accessible != '' ">
            and `accessible` = #{accessible}
        </if>
        <if test="weight != null and weight != '' ">
            and weight = #{weight}
        </if>
        <if test="resubmit != null and resubmit != '' ">
            and resubmit = #{resubmit}
        </if>
        <if test="checkAfterSubmit != null and checkAfterSubmit != ''  ">
            and check_after_submit = #{checkAfterSubmit}
        </if>
        <if test="correctionMode != null and correctionMode != '' ">
            and correction_mode = #{correctionMode}
        </if>
    </select>

    <update id="updateClassTask">
        update cb_relationship.`class-task`
        <set>
            <if test="classId != null and classId != '0' and classId != '' " >
                class_id = #{classId},
            </if>
            <if test="taskId != null and taskId != '0' and taskId != '' ">
                task_id = #{taskId},
            </if>
            <if test="startTime != null and startTime !='' ">
                start_time = #{startTime},
            </if>
            <if test="endTime != null and endTime != '' ">
                end_time = #{endTime},
            </if>
            <if test="invisible != null and invisible != '' ">
                `invisible` = #{invisible},
            </if>
            <if test="accessible != null and accessible != '' ">
                `accessible` = #{accessible},
            </if>
            <if test="weight != null and weight != '' ">
                weight = #{weight},
            </if>
            <if test="resubmit != null and resubmit != '' ">
                resubmit = #{resubmit},
            </if>
            <if test="checkAfterSubmit != null and checkAfterSubmit != ''  ">
                check_after_submit = #{checkAfterSubmit},
            </if>
            <if test="correctionMode != null and correctionMode != '' ">
                correction_mode = #{correctionMode},
            </if>
        </set>
        WHERE deleted = 0;
    </update>

    <select id="queryTaskIdByClassIds" resultType="java.lang.Integer">
        select task_id from cb_relationship.`class-task` where class_id in
        <foreach collection="list" item="classId" open="(" separator="," close= ")">
            #{classId}
        </foreach>
    </select>

    <select id="queryClassIdByTaskIds" resultType="java.lang.Integer">
        select class_id from cb_relationship.`class-task` where task_id in
        <foreach collection="list" item="taskId" open="(" separator="," close= ")">
            #{taskId}
        </foreach>
    </select>



    <!--.......................................................StudentClass...............................................-->
    <update id="updateStudentClass">
        update cb_relationship.`student-class`
        <set>
            <if test="userId != null and userId != '' and userId != '0' ">
                use_id = #{userId},
            </if>
            <if test="classId != null and classId != '' and classId != '0' ">
                class_id = #{classId}
            </if>
        </set>
    </update>


    <select id="queryStudentClassesByCondition" resultType="edu.codebridge.feign.entity.StudentClass">
        SELECT * FROM cb_relationship.`student-class`
        WHERE
        <if test="userId != null and userId != '' and userId != '0' ">
            user_id = #{userId}
        </if>
        <if test="classId != null and classId != '' and classId != '0' ">
            and class_id = #{classId}
        </if>
    </select>

    <select id="queryUserIdByClassIds" resultType="java.lang.Long">
        select user_id from cb_relationship.`student-class` where class_id in
        <foreach collection="list" item="classId" open="(" separator="," close= ")">
            #{classId}
        </foreach>
    </select>

    <select id="queryClassIdByUserIds" resultType="java.lang.Integer">
        select class_id from cb_relationship.`student-class` where user_id in
        <foreach collection="list" item="userId" open="(" separator="," close= ")">
            #{userId}
        </foreach>
    </select>
    
    
    
    <!--....................................................................StudentTaskResource..................................................-->
    <update id="updateStudentTaskResource">
        update cb_relationship.`student-task-resource`
        <set>
            <if test="userId != null and userId !='' and userId != '0' ">
                user_id = #{userId},
            </if>
            <if test="taskId != null and taskId != '' and taskId != '0' ">
                task_id = #{taskId},
            </if>
            <if test="resourceId != null and resourceId != '' and resourceId != '0' ">
                resource_id = #{resourceId},
            </if>
            <if test="status != null and status != '' ">
                `status` = #{status},
            </if>
            <if test="score != null and score !='' ">
                score = #{score}
            </if>
        </set>
    </update>

    <select id="queryStudentTasksResourceByCondition" resultType="edu.codebridge.feign.entity.StudentTaskResource">
        SELECT * FROM cb_relationship.`student-task-resource`
        WHERE
        <if test="userId != null and userId !='' and userId != '0' ">
            user_id = #{userId}
        </if>
        <if test="taskId != null and taskId != '' and taskId != '0' ">
            and task_id = #{taskId}
        </if>
        <if test="resourceId != null and resourceId != '' and resourceId != '0' ">
            and resource_id = #{resourceId}
        </if>
        <if test="status != null and status != '' ">
            and `status` = #{status}
        </if>
        <if test="score != null and score !='' ">
            and score = #{score}
        </if>
    </select>



    <!--......................................................StudentTask..................................................-->
    <select id="queryStudentTasksByCondition" resultType="edu.codebridge.feign.entity.StudentTask">
        SELECT * FROM cb_relationship.`student-task`
        WHERE
        <if test="userId != null and userId != '' and userId != '0' ">
            user_id = #{userId}
        </if>
        <if test="taskId != null and taskId != '' and taskId != '0' ">
            and task_id = #{taskId}
        </if>
        <if test="status != null and status != '' ">
            and `status` = #{status}
        </if>
        <if test="score != null and score != '' ">
            and score = #{score}
        </if>
        <if test="accessible != null and accessible != '' ">
            and `accessible` = #{accessible}
        </if>
    </select>

    <select id="queryUserIdByTaskIds" resultType="java.lang.Long">
        select user_id from `student-task` where task_id in
        <foreach collection="list" item="taskId" open="(" separator="," close= ")">
            #{taskId}
        </foreach>
    </select>
    <select id="queryTaskIdByUserIds" resultType="java.lang.Integer">
        select task_id from `student-task` where user_id in
        <foreach collection="list" item="userId" open="(" separator="," close= ")">
            #{userId}
        </foreach>
    </select>

    <update id="updateStudentTasks">
        UPDATE cb_relationship.`student-task`
        <set>
            <if test="userId != null and userId != '' and userId != '0' ">
                user_id = #{userId},
            </if>
            <if test="taskId != null and taskId != '' and taskId != '0' ">
                task_id = #{taskId},
            </if>
            <if test="status != null and status != '' ">
                `status` = #{status},
            </if>
            <if test="score != null and score != '' ">
                score = #{score},
            </if>
            <if test="accessible != null and accessible != '' ">
                `accessible` = #{accessible}
            </if>
        </set>
    </update>

</mapper>